<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<title>01-layout</title>
<style>
    * {
        margin: 0;
    }
    header {
        background: #BCB1B3;
        height: 100px;
    }
    aside {
        background: #DEC8C1;
        height: 500px;
        width: 50%;
        float: left;
    }
    main {
        float:right;
        background: #EFDBD4;
        width: 50%;
        height: 500px;
    }
    footer {
        clear: both;
        height: 100px;
        background: #BCB1B3;
    }
</style>
</head>
<body>

    <header>
        <h1>header</h1>
    </header>
    <aside>
        <h1>side</h1>
    </aside>
    <main>
        <h1>main</h1>
    </main>
    <footer>
        <h1>footer</h1>
    </footer>


</body>
</html>