@charset "utf-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    color: inherit;
    text-decoration: none;
    display: inline-block;
}
li {
    list-style: none;
}
/* layout */
.inner {
    width: 900px;
    height: 1100px;
    margin: 50px auto;
    box-shadow: 0 0 30px #000;
    overflow: hidden;
    animation: fadeIn 2s forwards;
}
