@charset "utf-8";

:root {
    --color-beige: beige;
    --color-gold: gold;
    --color-grey: #666;
    --color-light-gray: #999;
    --color-deep-green: #02343F;
}

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style: none;
}
a {
    color: inherit;
    text-decoration: none;
    display: block;
}
img {
    max-width: 100%;
    vertical-align: top;
}

/* common */
.clearfix:after {
    content:'';
    display: block;
    clear: both;
}
.inner {
    width: 960px;
    margin: 0 auto;
}
.mb-20 {
    margin-bottom: 20px;
}
.mt-20 {
    margin-top: 20px;
}

/* header */
header {
    padding: 30px 0;
    border-bottom: 1px solid #000;
}
header .logo {
    float: left;
}
.navbar {
    float:right;
}
.navbarItem {
    margin-top: 10px;
    width: 100px;
    display: inline-block;
    margin-right: 20px;
    text-align: center;
}

/* section.place */
.placeContainer {
    /* background: gold; */
}
.placeItem {
    padding: 10px;
    width: 47.5%;
    background: var(--color-beige);
    border-radius: 10px;
    float: left;
    margin-right: 5%;
    margin-bottom: 5%;
}
.placeItem:nth-child(2n) {
    margin-right: 0;
}
.placeItem img {
    width: 200px;
    float: left;
}
.placeItem .desc {
    padding: 15px;
    overflow: hidden;
}
.placeItem .desc h2{
    margin-bottom: 10px;
}
.placeItem .desc a{
    display: inline-block;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    background: var(--color-light-gray);
    color: var(--color-grey);
}
.placeItem .desc p {
    /* 
        line-height: normal (initial value)
    */
    line-height: 1.2;
    /* line-height * line number */
    height:18em;
    overflow: hidden;
}

/* section.category */
.categoryContainer {
    /* background: skyblue; */
}
.categoryItem {
    /* background: coral; */
    float: left;
    width: 22.5%;
    margin-right: 3.33%;
    margin-bottom: 3.33%;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    background: var(--color-beige);
    color: var(--color-deep-green);
    box-shadow: 0 0 5px rgba(0,0,0,.5);
}
.categoryItem:nth-child(4n) {
    margin-right: 0;
}

/* footer */
footer {
    background: var(--color-gold);
    padding: 50px 0;
}
footer ul.info {
    padding: 10px 0;
}
footer ul.info .link {
    display: inline-block;
}