@charset "utf-8";

:root {
    font-size: 62.5%; /* 10px */
    --primary-color: #f37321;
    --color-green: rgba(46, 179, 0, 0.9);

    /* typography */
    --font-large: 2rem; /* 20px */
    --font-regular: 1.6rem; /* 16px */
}
body {
    font-size: var(--font-regular); /* 16px */
    font-family: '맑은 고딕','Malgun Gothic','돋움',Dotum, Helvetica, AppleGothic, Sans-serif;
}
.clearfix:after {
    content:'';
    display: block;
    clear: both;
}
/* margin collapse (마진병합 현상 제거) */
.marginfix:after,
.marginfix:before
{
    content:'';
    display: table;
}
.mo-br {
    display: none;
}

/* icon */
.icon {
    background-image: url(../image/icon.png);
}
.logo {
    background-position: 0 -597px;
    width: 260px;
    height: 32px;
}
.btn-toggle {
    background-position: -651px 0;
    width: 50px;
    height: 24px;
}
.btn-lang {
    background-position: -273px 0;
    width: 32px;
    height: 23px;
}
.search-glass:after {
    content: '';
    background-image: url(../image/icon.png);
    position: absolute;
    top: 8px;
    right: 15px;
    background-position: -243px 0;
    width: 19px;
    height: 23px;
}
.ir-logo {
    background-position: -306px -457px;
    width: 159px;
    height: 57px;
}
.arrow-right {
    background-position: -120px -100px;
    width: 16px;
    height: 8px;
}
.arrow-right-coral {
    background-position: -400px -100px;
    width: 32px;
    height: 32px;
}
.icon-sns {
    background-image: url(../image/sns/sns.png);
}
.btn-post {
    background-position: -60px -120px;
    width: 161px;
    height: 45px;
}
.icon-time:before {
    content: '';
    display: inline-block;
    width: 14px;
    height: 14px;
    background-image: url(../image/icon.png);
    background-position: -327px -123px;
    vertical-align: middle;
}
/* 인재상 */
.arrow-right-small:after {
    content: '';
    display: inline-block;
    background-image: url(../image/icon.png);
    background-position: -231px -120px;
    width: 6px;
    height: 8px;
    margin-left: 10px;
}