@charset "utf-8";

@media (max-width: 1120px) {
    header {
        padding: 0 50px;
    }
    header .btn-toggle {
        position: absolute;
        top: 0px;
        right: 11px;
    }
    header .gnb {
        display: none;
    }
    header .search {
        display: none;
    }
}
@media (max-width: 768px) {
    /* common */
    .mo-br {
        display: block;
    }
    .section-title-mo {
        width: 80%;
    }

    /* heaer */
    header {}

    /* visiton */
    section.vision {}

    /* about */
    section.about {}
    .about .thumb-item {
        float: left;
        width: 100%;
        text-align: center;
    }
    .about .thumb-item .thumb-desc {
        padding: 20px 0;
    }
    .about .thumb-item .thumb-desc p {
        margin: 0.5rem;
    }

    /* innovation */
    section.innovation {}
    .innovation dd {
        height: auto;
    }
    .innovation dd p {
        display: block;
        padding: 1rem 0;
    }

    /* challenge */
    section.challenge {}
    .challenge .outer-list > li {
        padding: 0 70px 50px;
    }
    .outer-list .inner-list .sub {
        display: block;
    }

    /* sns */
    section.sns {}
    .sns .post .post-item {
        width: 100%;
    }
    .sns .post .post-item .desc {
        padding: 15px 19px 18px;
    }

    /* footer */
    footer {}
    footer {
        padding-bottom: 35px;
        height: auto;
        text-align: center;
    }
    footer address {
        margin: 10px 20px;
    }
}